@default:
    just help

help:
    #!/usr/bin/env sh
    {{sh_init}}
    echo_title "General recipes:"
    echo_default "help                 Show this message."
    echo_default "init                 Initialize the project."
    echo_default "up                   Start all services."
    echo_default "down                 Stop all services."
    echo_default "refresh              Recreates & starts example service."
    echo_default "update_dotenv        Recreate the .env file from the .env.template file."
    echo_default "build                Builds data_provider image."
    echo_default "format               Format data_provider code with ruff. Example usage:"
    echo_highlight "                         just format"
    echo_default "                       format specific file:"
    echo_highlight "                         just format <FilePathRelativeToProjectRoot>"
    echo_default "check                Verify the application code compliance against ruff, and mypy checks."
    echo_default "test                 Run the test suite. Example usage:"
    echo_default "all                  format + check + test."
    echo_default "                       run all tests:"
    echo_highlight "                         just test"
    echo_default "                       run specific test or tests:"
    echo_highlight "                         just test ./tests"
    echo_highlight "                         just test ./tests/test_something.py"
    echo_highlight "                         just test ./tests/test_something.py::test_it"
    echo_default "bash                 Start bash session inside the data_provider_injector container."
    echo_default "python               Start ipython session inside the data_provider_injector container."
    echo_title "Other recipes:"
    echo_default "meow                 Make Yourself the owner of the project folder and its contents."
    echo_default "coverage_report      Open coverage report with default browser."

init:
    #!/usr/bin/env sh
    {{sh_init}}
    init_project

up:
    #!/usr/bin/env sh
    {{sh_init}}
    start_project

up_test:
    #!/usr/bin/env sh
    {{sh_init}}
    setup_tests

down:
    #!/usr/bin/env sh
    {{sh_init}}
    stop_project

refresh:
    #!/usr/bin/env sh
    {{sh_init}}
    refresh_project

update_dotenv:
    #!/usr/bin/env sh
    {{sh_init}}
    create_or_update_dotenv

build:
    #!/usr/bin/env sh
    {{sh_init}}
    build_project

# example usage:
#   just format
#   just format test.py
#   just format test.py F841,I001
default_target := './'
default_ignore := ''
format target=default_target ignore=default_ignore:
    #!/usr/bin/env sh
    {{sh_init}}
    format_code {{target}} {{ignore}}

check:
    #!/usr/bin/env sh
    {{sh_init}}
    check_code

default_test_path := './tests'
default_opts        := ''
test test_path=default_test_path opts=default_opts:
    #!/usr/bin/env sh
    {{sh_init}}
    echo_title "Set up tests services"
    setup_tests
    test_code {{test_path}} {{opts}}

format_and_check: format check
all: format check test

bash:
    #!/usr/bin/env sh
    {{sh_init}}
    bash_shell

python:
    #!/usr/bin/env sh
    {{sh_init}}
    python_shell


meow:
    #!/usr/bin/env sh
    {{sh_init}}
    make_me_owner_of_this_folder

clean_pycached:
    #!/usr/bin/env sh
    {{sh_init}}
    clean_pycached

coverage_report:
    #!/usr/bin/env sh
    {{sh_init}}
    open_coverage_report


profile file:
    #!/usr/bin/env sh
    {{sh_init}}
    profile_python_code {{file}}

# Just global variables

set dotenv-load

alias u     := up
alias d     := down
alias r     := refresh
alias f     := format
alias c     := check
alias t     := test
alias fc    := format_and_check
alias a     := all
alias b     := bash
alias p     := python
alias cr    := coverage_report

TITLE       := '\033[94m\033[1m'
HIGHLIGHT   := '\033[93m\033[1m'
WARNING     := '\033[91m\033[1m'
DEFAULT     := '\033[0m'

#Pass here correct script path
sh_init := "set -e && PROJECT_DIR=$(pwd) && . $PROJECT_DIR/Justscripts.nested.example.sh" 